{% extends 'base.html' %}
{% block navbar %}{% include "navbar.html" with selected="classroom"%}{% endblock %}
{% block content %}
    <section id="main-content">
        <div class="container">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Panel</a></li>
                <li class="breadcrumb-item"><a href="/classroom">Aulas</a></li>
                <li class="breadcrumb-item active" aria-current="page">Agregar</li>
              </ol>
            </nav>
            {% include "warnings.html" %}
            <form method="post">
              {% csrf_token %}
              <div class="form-group mb-3">
                  <label for="code">Código del aula</label>
                  <input class="form-control" id="code" name="code" placeholder="Código del aula" value="{{ classroom.code }}">
              </div>
              <div class="form-group mb-3">
                  <label for="name">Nombre del aula</label>
                  <input class="form-control" id="name" name="name" placeholder="Nombre del aula" value="{{ classroom.name }}">
              </div>
              <div class="form-group mb-3">
                  <label for="classroom">Profesores</label>
                  <select multiple class="form-select" id="teachers" name="teachers">
                    {% for teacher in teachers %}
                      <option {% if teacher in classroom.teachers.all %}selected{% endif %} value="{{ teacher.id }}" id="{{ teacher.id }}" name="{{ teacher.id }}">{{ teacher }}</option>
                    {% endfor %}
                  </select>
              </div>
              <button type="submit" class="btn btn-primary">Agregar</button>
            </form>
        </div>
    </section>
{% endblock %}