{% extends 'base.html' %}
{% block navbar %}{% include "navbar.html" with selected="document"%}{% endblock %}
{% block content %}
    <section id="main-content">
        <div class="container">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Panel</a></li>
                <li class="breadcrumb-item active" aria-current="page">Documentos</li>
              </ol>
            </nav>
            {% include "warnings.html" %}
            <a href=/document/create>
                <button type="button" class="btn btn-primary mb-3">Agregar Nuevo Documento</button>
            </a>
            <ul class="list-group">
                {% for document in documents %}
                    <a href="/document/{{ document.id }}" class="list-group-item d-flex justify-content-between align-items-center">
                        {{ document.name }}, {{ document.description }}
                        <div class="flex-row">
                            <span class="badge bg-secondary rounded-pill">test2</span>
                        </div>
                    </a>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}