{% extends 'base.html' %}
{% block navbar %}{% include "navbar.html" with selected="document"%}{% endblock %}
{% block content %}
      <section id="main-content">
        <div class="container">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Panel</a></li>
                <li class="breadcrumb-item"><a href="/document">Documentos</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ document.name }}</li>
              </ol>
            </nav>
            {% include "warnings.html" %}
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Documento número</div>
                  {{ document.id }}
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start"">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Nombre del documento</div>
                  {{ document.name }}
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start"">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Descripción del documento</div>
                  {{ document.description }}
                </div>
              </li>
              <a class="list-group-item d-flex justify-content-between align-items-start" href="/classroom/{{ document.classroom.code }}">
                <div class="ms-2 me-auto">
                  <div class="fw-bold"><u>Aula Asignada</u></div>
                  {{ document.classroom.name }}
                </div>
                <span class="badge bg-primary rounded-pill">{{ document.classroom.devices.count }} dispositivo{% if document.classroom.devices.count != 1 %}s{% endif %} en esta aula</span>
              </a>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Código de la asignatura</div>
                  {{ document.subject_code }}
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Inicio</div>
                  {{ document.start }}
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Finalización</div>
                  {{ document.end }}
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <a class="btn btn-primary m-2" href=/document/{{ document.id }}/update role="button">Modificar</a>
                  <a class="btn btn-danger m-2" href=/document/{{ document.id }}/delete role="button">Borrar</a>
                </div>
              </li>
            </ul>
            </div>
        </div>
    </section>
{% endblock %}
