{% extends 'base.html' %}
{% block content %}
    <section id="main-content">
        <div class="container">
            {% include "warnings.html" %}
            <div><h1>Bienvenido, {{user.username}}</h1></div>
            <hr>
            <div>
                <span class="h2 m-3">Próximas proyecciones</span>
                <a href=/document/create>
                    <button type="button" class="btn btn-primary mb-3">Crear Nuevo Documento</button>
                </a>
                <ul class="list-group">
                    {% for document in documents_current %}
                        <a href="/document/{{ document.id }}" class="list-group-item d-flex justify-content-between align-items-center">
                            ({{ document.name }}) {{ document.description }}
                            <div class="flex-row">
                                <span class="badge bg-info rounded-pill">en proyección</span>
                                <span class="badge bg-primary rounded-pill">{{ document.pages.count }} páginas</span>
                                <span class="badge bg-secondary rounded-pill">{{ document.start }}</span>
                            </div>
                        </a>
                    {% endfor %}
                    {% for document in documents_next %}
                        <a href="/document/{{ document.id }}" class="list-group-item d-flex justify-content-between align-items-center">
                            ({{ document.name }}) {{ document.description }}
                            <div class="flex-row">
                                <span class="badge bg-primary rounded-pill">{{ document.pages.count }} páginas</span>
                                <span class="badge bg-secondary rounded-pill">{{ document.start }}</span>
                            </div>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
