{% extends 'base.html' %}
{% block content %}
    <section id="main-content">
        <div class="container">
            {% include "warnings.html" %}
            <div style="height: 200px"></div>
            <h1>Welcome, {{user.username}}</h1>
            <div style="height: 100px"></div>
            <h1>This is the index</h1>
            <div style="height: 200px"></div>
            <div style="height: 200px"></div>
            <h1>Welcome, {{user.username}}</h1>
            <div style="height: 100px"></div>
            <h1>This is the index</h1>
            <div style="height: 200px"></div>
        </div>
    </section>
{% endblock %}
